*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}
body{
    margin: 20px;
}
p{
    max-width: 600px;
}

#canvas{
    border: 1px solid black;
    margin: 10px 0;
}

#controls{
    border: 1px solid black;
    background: #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    width: max-content;
    margin-bottom: 10px;
}
button{
    padding: 0 5px;
    background: white;
    border: 1px solid gray;
}

label, button{
    font-size: 0.8rem;
}